<div ng-controller="calendarCtrl" class="cal">
    <div class="header">
        <button class="month-change" ng-click="changeMonth()">reset</button>
    </div>
    <div class="header">
        <button class="month-change" ng-click="changeMonth(-1, yr, mo)">&larr;</button>
        <div class="month">{{mo}}, {{yr}}</div>
        <button class="month-change" ng-click="changeMonth(1, yr, mo)">&rarr;</button>
    </div>
    <div class="week">
        <div class="week-day" ng-repeat="dayOfWeek in daysOfWeek">
            {{dayOfWeek}}
        </div>
    </div>
    <div class="days">
        <div class="day" ng-repeat="day in days track by $index">
            <div class="day-inner {{day.type}}">{{day.num}}</div>
        </div>
    </div>
</div>